body{
    font-family: 'Inter', sans-serif;
    background-color: #f4f4fc;
}

header{
    width: 100%;
    height: 70px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
 }

 main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
 }
 
 .contenedorcajatexto{
    position: absolute;
    left: 10px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
 }

 .cajatexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
 }

 .cajatexto::placeholder{
    color:#0A3871;
 }
 
 .alerta{
    position: absolute;
    top: 750px;
    left: 450px;
    display: flex;
    color: #495057;
 }

 .contenedor-botones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 10%;
    padding-top: 15px;
 }

 .btn-encriptar{
    width: 370px;
    height: 67px;
    border-radius:20px ;
    background-color: #0A3871;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 1px;
 }

 .btn-desencriptar{
    width: 370px;
    height: 67px;
    border-radius:20px ;
    background-color: #D8DFE8;
    color: #0A3871;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #0A3871;
 }

 .seccion2{
   top: auto;
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 24px;
   display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 50px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0 , 0, 0.8);
 }

 .contenedor-munieco{
    position: absolute;
    width: 336px;
    height: 58px;
    left: 30px; 
    top: 203px;
 }

 .contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 515px;
    left: 8px;
 }

 .contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40; 
 }

 .contenedor-parrafo p{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #495057;
    padding-top: 20px;
 }

.btn-copiar{
   width: 328px;
   height: 67px;
   border-radius: 24px;
   background-color: #ffffff;
   color: #0A3871;
   font-size: 16px;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   border: 1px solid #0A3871;
   cursor: pointer;
   position: relative;
   top: 700px;
   left: 30px;
}
.btn-copiar:hover{
   background-color: #0A3871;
   color:white;
   transition: .5s;
   font-size: 18px;
   font-weight: bold;
}

.contenedor-resultado{
   font-family: 'Inter', sans-serif;
   text-align: center;
   color: #495057;
}
.btn-desencriptar:hover{
   background-color: #0A3871;
   color:white;
   transition: .5s;
   font-size: 22px;
}

.btn-encriptar:hover{
   background-color: #D8DFE8;
   color: #0A3871;
   transition: .5s;
   font-size: 22px;
   border: 1px solid #0A3871;
}

.ocultar{
   display: none;
}

@media screen and (max-width:820px){
   .seccion2{
      top: 990px;
      height: 640px;
      right: -200px;
      width: 820px;
   }
   .contenedor-munieco{
      width: 90%;
      top: 10%;
   }
   .contenedor-parrafo{
      top:70%;
      left:28%;
   }
   .btn-copiar{
      top: 550px;
   }
   .contenedor-botones{
      padding-left: 50%;
   }

}